@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@font-face {
    font-family:'Android' ;
    src: url('fontes/idroid.otf') format(opentype);
    font-weight: normal;
}

:root {
    --cor0: #CCEA8D;
    --cor1: #A6BC09;
    --cor2: #019587;
    --cor3: #005148;
    --cor4: #01415B;
    --cor5: #063d1e;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque:  'Kaushan Script', 'cursive';
    --fonte-android: 'android', 'cursive';
}

body{
    background-color: rgb(176, 207, 176);
    font-family:var(--fonte-padrao);
}

header > h1{
    color: var(--cor3);
    font-family: var(--fonte-destaque);
}

main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main h2 {
    font-family: var(--fonte-android);
}



